body {
	background-color: #3F3F3F;
	font-family: 'Raleway', sans-serif;
}

p {
	color: white;
	font-size: 14px;
}

.dailyLines {
	fill: none;
}

.title {
  font: 20px;
  fill: white;
}

.hidden {
		  display: none;
}

#metric {
		  position: absolute;
		  top: 30px;
		  left: 680px;
		  width: auto;
		  height: auto;
}

#colorSelector {
		  position: absolute;
		  top: 55px;
		  left: 680px;
		  width: auto;
		  height: auto;
}

#instructions {
		  position: absolute;
		  top: 10px;
		  left: 45px;
		  width: 600px;
		  height: auto;
}

#instructions p {
		  line-height: 12px;
		  color: white;
		  font-size: 26px;
}

#infoHeader {
	text-decoration: underline;
}

#datasource {
	font-style: italic;
	position: absolute;
	top: 900px;
	left: 45px;
}

#citySelection {
  position: absolute;
}

.map {
  fill: white;
  stroke: none;
}

.cities {
	fill: #FF7F15;
}

.citiesBackground:hover {
  opacity: 1;
}

.citiesForeground:hover {
	stroke: #FF7F15;
  stroke-width: 8;
}

.monthLegend {
	font-size: 16px;
}

.selectedMonth {
	opacity: .5;
}

.unselectedMonth {
	opacity: .05;
}

.circleLegend {
	fill: none;
	stroke: white;
	stroke-width: 1px;
}

#tooltip {
	position: absolute;
	width: auto;
	height: auto;
	padding: 5px 5px;
	font-weight: 400;
	background-color: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	pointer-events: none;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
}
#tooltip p {
	margin: 0;
	line-height: 20px;
	color: black;
}