body {
	background-color: #3F3F3F;
}

p {
	color: white;
	font-size: 14px;
}

.dailyLines {
	fill: none;
	opacity: .2;
}

.title {
  font: 20px;
  fill: white;
}

.hidden {
		  display: none;
}

#metric {
		  position: absolute;
		  top: 10px;
		  left: 840px;
		  width: auto;
		  height: auto;
}

#colorSelector {
		  position: absolute;
		  top: 35px;
		  left: 840px;
		  width: auto;
		  height: auto;
}

#instructions {
		  position: absolute;
		  top: 10px;
		  left: 45px;
		  width: 750px;
		  height: auto;
		  padding: 5px 10px;
		  background-color: rgba(255, 255, 255, 0.7);
		  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
		  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
		  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
		  pointer-events: none;
}

#instructions p {
		  margin: 0;
		  line-height: 20px;
		  color: black;
		  font-size: 14px;
}

#citySelection {
  position: absolute;
}

.map {
  fill: white;
  stroke: none;
}

.cities {
	fill: #FF7F15;
}

.citiesBackground:hover {
  opacity: 1;
}

.citiesForeground:hover {
	stroke: #FF7F15;
  stroke-width: 8;
}
